.nav {
  position: relative;
  width: 100vw;
  height: 5rem;
  right: 0rem;
  /* background-color: green; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  gap: 2rem;
  font-family: "Open Sans";
  list-style-type: none;
  padding-right: 3rem;
}

.moonjuice {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 25rem;
  border-radius: 3rem;
}

.logout {
  font-size: 2rem;
  color: rgb(211, 207, 207);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.logout:hover {
  color: rgb(255, 255, 255);
}

.span {
  font-family: "Open Sans";
  font-size: 0.5rem;
}

.cart {
  font-size: 2rem;
  color: rgb(211, 207, 207);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.cart:hover {
  color: rgb(255, 255, 255);
}

.contact {
  cursor: pointer;
  background: linear-gradient(180deg, rgb(194, 30, 255), blue);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: all 0.1s ease-in-out;
  font-family: "Open Sans";
}

.contact:hover {
  border-radius: 1rem;
}

@media only screen and (max-width: 720px) {
  .nav {
    position: fixed;
    top: 0rem;
    z-index: 20;
    background-color: black;
    height: 4rem;
  }
  .moonjuice {
    width: 15rem;
    top: 1rem;
  }
  .contact {
    transform: scale(0.9);
  }
  .cart {
    transform: scale(0.9);
  }
  .logout {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 550px) {
  .nav {
    gap: 0.6rem;
    padding-right: 1rem;
  }
  .moonjuice {
    width: 15rem;
    top: 1rem;
  }
  .contact {
    transform: scale(0.9);
  }
  .cart {
    transform: scale(0.9);
  }
  .logout {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 550px) {
  .nav {
    gap: 0.2rem;
    padding-right: 1rem;
    height: 3rem;
  }
  .moonjuice {
    width: 10rem;
    top: 0.8rem;
  }
  .contact {
    transform: scale(0.7);
  }
  .cart {
    transform: scale(0.7);
  }
  .logout {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 370px) {
  .nav {
    gap: 0rem;
    padding-right: 1rem;
    height: 3rem;
  }
  .moonjuice {
    width: 8rem;
    top: 0.8rem;
  }
  .contact {
    transform: scale(0.5);
    position: relative;
    left: 1rem !important;
  }
  .cart {
    transform: scale(0.5);
  }
  .logout {
    transform: scale(0.5);
  }
}
