.backdrop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.701);
}

.cart {
  width: 40rem;
  height: 40rem;
  background-color: black;
  top: 10rem;
  left: 33%;
  position: fixed;
  border-radius: 1.5rem;
  z-index: 10;
}

.hero {
  color: white;
  font-family: "Open Sans";
  display: block;
  text-align: center;
  position: relative;
  top: -1rem;
  user-select: none;
}

.closePosition {
  width: 100%;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  color: rgb(169, 160, 160);
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* background-color: gray; */
}

.closePosition:hover {
  color: white;
}

.winkelInner {
  position: relative;
  width: 90%;
  left: 5%;
  /* border: 1px solid rgb(178, 161, 161); */
  border-radius: 0.5rem;
  top: 1rem;
  height: 25rem;
}

.orderList {
  position: relative;
  width: 98%;
  left: 1%;
  top: 1%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid white; */
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}
.description {
  position: relative;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  user-select: none;
}

.description span {
  width: 33%;
  text-align: center;
}

.listItem {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 2rem;
  background: linear-gradient(180deg, rgb(32, 32, 229), rgb(148, 34, 235));
  border-radius: 0.4rem;
}

.listItem li {
  width: 33%;
  text-align: center;
  font-family: "Open Sans";
}

.end {
  position: absolute;
  left: 32.5rem;
  font-size: 1.25rem;
  margin-top: 0.3rem;
  color: rgb(191, 185, 185);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: inline;
  width: 2rem !important;
}

.end:hover {
  color: white;
}

.totalBox {
  position: relative;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.3rem;
  font-family: "Open Sans";
  color: white;
  top: 2.9rem;
  left: 0.3rem;
  user-select: none;
}

.submitBox {
  color: white;
  display: flex;
  justify-content: center;
}

.submit {
  font-family: "Open Sans";
  padding: 0.2rem 0.4rem;
  border: 2px solid rgb(105, 255, 254);
  background-color: transparent;
  color: rgb(105, 255, 254);
  font-size: 1.5rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background-color: rgb(105, 255, 254);
  color: black;
}

.selectionBox {
  position: relative;
  width: 80%;
  height: 25rem;
  left: 10%;
  top: 5rem;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.cta {
  width: 20rem;
  height: 4rem;
  border-radius: 0.4rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: black;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cta:hover {
  background: linear-gradient(180deg, rgb(194, 30, 255), blue);
  color: white;
}

.btnBorder {
  background: linear-gradient(180deg, rgb(194, 30, 255), blue);
  width: 20.25rem;
  height: 4.25rem;
  border-radius: 0.4rem;
  padding-top: 0.1rem;
  padding-left: 0.15rem;
}

.ophalenBox {
  position: relative;
  width: 80%;
  left: 10%;
  height: 35rem;
  /* border: 1px solid white; */
}

.orderList2 {
  position: relative;
  width: 98%;
  left: 1%;
  top: 1%;
  height: 25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid white; */
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}

.pickupOrderBox {
  position: relative;
  width: 100%;
  /* background-color: green; */
  top: 3.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.back {
  color: rgb(169, 160, 160);
  font-size: 1.5rem;
  position: absolute;
  top: -7rem;
  left: -3rem;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  cursor: pointer;
}

.back:hover {
  color: white;
}

.back2 {
  color: rgb(169, 160, 160);
  font-size: 1.5rem;
  position: absolute;
  top: -2rem;
  left: -3rem;
  transition: all 0.2s ease-in-out;
  z-index: 10;
  cursor: pointer;
}

.back2:hover {
  color: white;
}

.phoneWarning {
  font-family: "Open Sans";
  color: red;
}
